{% extends 'base.html' %}

{% block content %}

<h1 class="title">Post detail page </h1>
<p>{{ post.title }}</p>
<img src="{{ post.image }}" alt="Post image - {{post.title}}"/>
<p>{{ post.body_text }}</p>

<div class="comment-container mb-5">
    <h3 class="title is-4">Comments</h3>
    <form method="POST" action="{% url 'leave_comment' post.pk %}">
    {% csrf_token %}
    <input type="text" name="comment_text" placeholder="leave a comment" required />  
    <input type="submit" value="Leave Comment" />
</form>
    {% for comment in post.comments.all %}
    <div class="comment">
        <span>{{forloop.counter}}</span>
        <span><b>{{comment.comment_text}}</b></span>
    </div>
        {% empty %}
<article class="message">
    <div class="message-header">
        <p>No comments Available</p>
    </div>
</article>
{% endfor %}

</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'delete_post' post.pk %}" class="button is-info">Delete</a>
        <a href="{% url 'update_post' post.pk %}" class="button is-info">
        Update</a>
       <a href="{% url 'all_post' %}" class="button is-info">All Posts</a> 
    </div>
</div>

{% endblock %}