{% extends 'base.html' %}

{% block content %}
<div class="post-detail">
    <div class="container-post">
        <p>{{ post.title }}</p>
        <img src="{{ post.image }}" alt="Post image - {{post.title}}"/>
        <p>{{ post.body_text }}</p>
    </div>

</div>

<div class="comment-container mb-5">
    <h3 class="title is-4">Comments</h3>
    <form method="POST" action="{% url 'leave_comment' post.pk %}">
    {% csrf_token %}
    <input type="text" name="comment_text" placeholder="leave a comment" required />  
    <input type="submit" value="Leave Comment" />
</form>
{% for comment in post.comments.all %}
    <div class="comment">
        <span>{{forloop.counter}}</span>
        <span><small>{{comment.user}}:</small></span>
        <span><b>{{comment.comment_text}}</b></span>
        
    </div>
    <h1>Are you sure you want to delete this {{comment.comment_text}} ?</h1> 
<div class="delete-container">
  <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete" class="button is-info"/>
    <a href="{% url 'post_detail' post.pk %}" class="button is-info">Back</a> 
</form>
            
</div>
        {% empty %}
<article class="message">
    <div class="message-header">
        <p>No comments Available</p>
    </div>
</article>
{% endfor %}

</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'delete_post' post.pk %}" class="button is-info">Delete</a>
        <a href="{% url 'update_post' post.pk %}" class="button is-info">
        Update</a>
       <a href="{% url 'all_post' %}" class="button is-info">All Posts</a> 
    </div>
</div>

{% endblock %}